@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari, Edge, Opera */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .no-spinner[type="number"] {
    -moz-appearance: textfield;
  }
}

@font-face {
    font-family: 'LibreBodoni-BoldItalic';
    src: url('./fonts/LibreBodoni-BoldItalic.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'LibreBodoni-Regular';
    src: url('./fonts/LibreBodoni-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }


@font-face {
    font-family: 'KronaOne-Regular';
    src: url('./fonts/KronaOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  